<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Stock Market Analysis Tool</title>
 
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/signup.css" rel="stylesheet">
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <script src="../static/js/homePageFunctionality.js"></script>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <a href="/dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="/userHome">
                            Analysis
                        </a>
                    </li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Stock Market Analysis Tool</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Dashboard</h1>
            <h3>Portfolio</h3>
            <div class='portfolio_dashboard'>
                <table>
                  <tr>
                    <th>Ticker</th>
                    <th>Price</th>
                    <th>Number of Shares</th>
                    <th>Total Equity</th>
                    <th>Estimated Growth</th>
                  </tr>
                  <tr>
                    <td>BMY</td>
                    <td>55.17</td>
                    <td>12</td>
                    <td>654.34</td>
                    <td>11.7%</td>
                  </tr>
                </table>
            </div>
            <h3>Watchlist</h3>
            <div class='watchlist_dashboard'>
                <table>
                  <tr>
                    <th>Ticker</th>
                    <th>Price</th>
                    <th>Number of Shares</th>
                    <th>Total Equity</th>
                    <th>Estimated Growth</th>
                  </tr>
                  <tr>
                    <td>SNE</td>
                    <td>59.17</td>
                    <td>8</td>
                    <td>432.59</td>
                    <td>4.9%</td>
                  </tr>
                </table>
            </div>
            <h3>Recommended</h3>
            <div class='recommended_dashboard'>
                {{recommended_table}}
            </div>
        </div>
        <footer class="footer">
            <p>&copy; Stock Market Analysis 2019</p>
        </footer>
 
    </div>
</body>
 
</html>