<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Stock Market Analysis Tool</title>
 
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/homePageFunctionality.js"></script>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Stock Market Analysis Tool</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Welcome {{user_name}}!</h1>
            <form class="form-analyze" action="/userHome/analysis" method="post">
                <label for="inputTicker">Enter company ticker</label>
                <input type="name" name="inputTicker" id="inputTicker" class="form-control" placeholder="Example: AAPL" required autofocus>
                <button id="btnAnalyze" class="btn btn-lg btn-primary btn-block" type="submit">Analyze</button>
            </form>
            <div class='analysis_report'>{{report}}</div>

        </div>
 
 
        <footer class="footer">
            <p>&copy; Stock Market Analysis 2019</p>
        </footer>
 
    </div>
</body>
 
</html>